<?xml version="1.0" encoding="utf-8"?>
<Bug1664Ok>
	<xmlSerializerSection type="Microsoft.Practices.EnterpriseLibrary.Configuration.Tests.ConfigurationData, Microsoft.Practices.EnterpriseLibrary.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"><ConfigurationData xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Color>Red</Color><SomeText>Some random text</SomeText><Size>5</Size></ConfigurationData></xmlSerializerSection>
</Bug1664Ok>