<?xml version="1.0" encoding="utf-8"?>
<dataConfiguration>
  <xmlSerializerSection type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
    <enterpriseLibrary.databaseSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" defaultInstance="Database Instance" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/data">
      <databaseTypes>
        <databaseType name="Sql Server" type="Microsoft.Practices.EnterpriseLibrary.Data.Sql.SqlDatabase, Microsoft.Practices.EnterpriseLibrary.Data, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <databaseType name="MySql" type="Microsoft.Practices.EnterpriseLibrary.Data.MySql1.MySqlDatabase, Microsoft.Practices.EnterpriseLibrary.Data.MySql1, Version=1.0.2567.15630, Culture=neutral, PublicKeyToken=null" />
      </databaseTypes>
      <instances>
        <instance name="Database Instance" type="Sql Server" connectionString="Tester" />
        <instance name="SmsDatabase" type="MySql" connectionString="SmsDbConnectionString" />
      </instances>
      <connectionStrings>
        <connectionString name="Sql Connection String">
          <parameters>
            <parameter name="database" value="BSIDNet_Phase4" isSensitive="false" />
            <parameter name="Integrated Security" value="False" isSensitive="false" />
            <parameter name="password" value="sa" isSensitive="false" />
            <parameter name="server" value="172.17.104.203" isSensitive="false" />
            <parameter name="uid" value="sa" isSensitive="false" />
          </parameters>
        </connectionString>	
        <connectionString name="Tester">
          <parameters>
            <parameter name="database" value="BSIDNet_Phase4" isSensitive="false" />
            <parameter name="Integrated Security" value="False" isSensitive="false" />
            <parameter name="password" value="hunter2" isSensitive="false" />
            <parameter name="server" value="172.17.111.38" isSensitive="false" />
            <parameter name="uid" value="sa" isSensitive="false" />
          </parameters>
        </connectionString>
        <connectionString name="SmsDbConnectionString">
          <parameters>
            <parameter name="database" value="esmsis" isSensitive="false" />
            <parameter name="password" value="xyzmmm" isSensitive="false" />
            <parameter name="server" value="172.17.112.51" isSensitive="false" />
            <parameter name="user id" value="odbcesmsis" isSensitive="false" />
          </parameters>
        </connectionString>
      </connectionStrings>
    </enterpriseLibrary.databaseSettings>
  </xmlSerializerSection>
</dataConfiguration>