<?xml version="1.0" encoding="utf-8" ?>
<dataConfiguration>
  <xmlSerializerSection type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
    <enterpriseLibrary.databaseSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			defaultInstance="Database Instance" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/data">
      <databaseTypes>
        <databaseType name="Sql Server" type="Microsoft.Practices.EnterpriseLibrary.Data.Sql.SqlDatabase, Microsoft.Practices.EnterpriseLibrary.Data, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <databaseType name="MySql" type="Microsoft.Practices.EnterpriseLibrary.Data.MySql1.MySqlDatabase, Microsoft.Practices.EnterpriseLibrary.Data.MySql1, Version=1.0.2567.15630, Culture=neutral, PublicKeyToken=null" />
      </databaseTypes>
      <instances>
        <instance name="TAFInstance" type="Sql Server" connectionString="TAFConnectionString" />
        <instance name="Database Instance" type="Sql Server" connectionString="DNetConnection" />
        <instance name="SmsDatabaseSql" type="Sql Server" connectionString="SMS Sql Connection String" />
        <!--<instance name="SmsDatabase" type="MySql" connectionString="SmsDbConnectionString" />-->
      </instances>
      <connectionStrings>  
        <connectionString name="DNetConnection">
          <parameters>
            <parameter name="database" value="XXX" isSensitive="false" />
            <parameter name="Integrated Security" value="False" isSensitive="false" />
            <parameter name="password" value="XXX" isSensitive="false" />
            <parameter name="server" value="XXX" isSensitive="false" />
            <parameter name="uid" value="XXX" isSensitive="false" />
          </parameters>
        </connectionString>       
      </connectionStrings>
    </enterpriseLibrary.databaseSettings>
  </xmlSerializerSection>
</dataConfiguration>