<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="enterpriselibrary.configurationSettings" type="Microsoft.Practices.EnterpriseLibrary.Configuration.ConfigurationManagerSectionHandler, Microsoft.Practices.EnterpriseLibrary.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
    
  <connectionStrings>
    <!-- TODO: Replace the ****'s with the correct entries -->
    <add name="InterfaceConnection" connectionString="Data Source=172.17.31.122;Database=BSIDNET_MMKSI_CR_DigitalizeClaim; User ID=admin;Password=hunter123!!;" providerName="System.Data.SqlClient" />
    <add name="LogConnection" connectionString="Data Source=172.17.31.122;Database=BSIDNET_MMKSI_IF_LOG;User ID=admin;Password=hunter123!!;" providerName="System.Data.SqlClient" />
		<add name="AccountingConnection" connectionString="Data Source=172.17.30.231;Database=BSIDMS_MMKSI_IF_ACC_UAT;User ID=sa;Password=P@ssw0rd.DMS;" providerName="System.Data.SqlClient" />
		<add name="LogDMSIFConnection" connectionString="Data Source=172.17.31.190;Database=BSIDMS_MMKSI_IF_LOG;User ID=sa;Password=P@ssw0rd;" providerName="System.Data.SqlClient" />
  </connectionStrings>  
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="AppId" value="44581E7F-04F9-4BEF-98E1-6395E0D543F7" />
    <add key="DBTimeout" value="180" /> <!-- in seconds --> 
    <add key="PageSize" value="20" />
    <add key="InsertBatchSize" value="500" />

    <add key="SAPFolder" value="\\172.17.31.135\mdnet_repo\Repository\BSI-Net\" />
    <add key="SAPFileDirectory" value="DNet\SAP" />
    <add key="SAN" value="\\172.17.31.135\mdnet_repo\Repository\BSI-Net\" />
    <add key="SPKFileDirectory" value="Marketing\SPK" />
    <add key="EvidenceFileDirectory" value="DNet\Service\CustomerCase" />
    <add key="PhotoFileDirectory" value="DNet\Master\Mechanic" />
    <add key="CustomerRequestDir" value="CustRequest" />
    <add key="User" value="sap" />
    <add key="Password" value="7Karakter" />
    <add key="WebServer" value="172.17.31.135" />
    <add key="SAPServer" value="172.17.31.135" />
    <add key="SAPServerFolder" value="\\172.17.31.135\MDNET\SAP" />
    <add key="DNetServerFolder" value="\\172.17.31.135\MDNET\DNet\Sparepart\" />
    <add key="DSFClaimDocumentDirectory" value="DataFile\DSF\Claim\" />
    <add key="CBUReturnClaimDirectory" value="DataFile\CBUReturn\" />
    <add key="StallManagementDirectory" value="\\172.17.31.135\mdnet\SAP\Service\PDI\" />
    <add key="FSEvidenceDirectory" value="FS\" />
    
    <add key="EnableSwagger" value="true" />
    
    <!-- Enable Scheduler -->
    <add key="EnableScheduler" value="false" />

    <!-- Throttle Configuration -->
    <add key="EnableThrottle" value="true" />
    <add key="RetrieveThrottleFromDB" value="false" />
    <add key="ThrottleFilePath" value="\\172.17.31.135\MDNET\DNet\Throttle\mmksi-dev-throttle-config.xml" />

    <add key="SwaggerLogin" value="http://localhost/MMKSIWebAuth/loginswagger" />
    <add key="TokenIssuer" value="https://interface.mitsubishi-motors.co.id" />
    <add key="TokenAudience" value="http://localhost/MMKSIWebApi" />
    <add key="TokenLifeTime" value="14" />
    <add key="TokenLifeTimeWithNoActivity" value="7" />

		<add key="RemoveImageFromInputDataLog" value="true"/>
		<add key="RemoveOutputFromOutputDataLog" value="false"/>

    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="CompanyCode" value="MMC" />
    <add key="SManCode" value="SSM" />
    <add key="BManCode" value="SBM" />
    <add key="ProxyAddress" value="172.17.25.13" />
    <add key="ProxyPort" value="3128" />
    <add key="OCRServer" value="http://172.17.31.65/v2/" />
    <add key="IsProxyUsed" value="false" />    
    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="false" />
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
    <add key="elmah.mvc.allowedRoles" value="*" />
    <add key="elmah.mvc.allowedUsers" value="*" />
    <add key="elmah.mvc.route" value="elmah" />
    <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />
  </appSettings>

  <enterpriselibrary.configurationSettings applicationName="Application" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/configuration">
    <configurationSections>
      <configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="cachingConfiguration" encrypt="false">
        <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="cachingConfiguration.config" />
        <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
          <includeTypes />
        </dataTransformer>
      </configurationSection>
      <configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="dataConfiguration" encrypt="false">
        <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="dataConfiguration.config" />
        <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
          <includeTypes />
        </dataTransformer>
      </configurationSection>
      <configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="exceptionHandlingConfiguration" encrypt="false">
        <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="exceptionHandlingConfiguration.config" />
        <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
          <includeTypes>
            <includeType name="LoggingExceptionHandlerData" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.Configuration.LoggingExceptionHandlerData, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          </includeTypes>
        </dataTransformer>
        </configurationSection>
      <configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="loggingConfiguration" encrypt="false">
        <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="loggingConfiguration.config" />
        <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
          <includeTypes />
        </dataTransformer>
      </configurationSection>
      <configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="loggingDistributorConfiguration" encrypt="false">
        <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="loggingDistributorConfiguration.config" />
        <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
          <includeTypes>
            <includeType name="RollingFlatFileSinkData" type="Microsoft.Practices.EnterpriseLibrary.Logging.Sinks.RollingFlatFile.Configuration.RollingFlatFileSinkData, Microsoft.Practices.EnterpriseLibrary.Logging.RollingFlatFileSink, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          </includeTypes>
        </dataTransformer>
      </configurationSection>
      <!--<<configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="securityConfiguration" encrypt="false">
        <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="securityConfiguration.config" />
        <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
          <includeTypes>
            <includeType name="DbRolesProviderData" type="Microsoft.Practices.EnterpriseLibrary.Security.Database.Configuration.DbRolesProviderData, Microsoft.Practices.EnterpriseLibrary.Security.Database, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <includeType name="DbAuthenticationProviderData" type="Microsoft.Practices.EnterpriseLibrary.Security.Database.Authentication.Configuration.DbAuthenticationProviderData, Microsoft.Practices.EnterpriseLibrary.Security.Database.Authentication, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <includeType name="DbRulesAuthorizationProviderData" type="KTB.DNet.Security.Database.Authorization.DbRulesAuthorizationProviderData, KTB.DNet.Security.Database.Authorization, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          </includeTypes>
        </dataTransformer>
      </configurationSection>
      <configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="securityCryptographyConfiguration" encrypt="false">
        <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="securityCryptographyConfiguration.config" />
        <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
          <includeTypes />
        </dataTransformer>
      </configurationSection>-->
    </configurationSections>
    <keyAlgorithmStorageProvider xsi:nil="true" />
    <includeTypes />
  </enterpriselibrary.configurationSettings>
  
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5" enableVersionHeader="false" executionTimeout="3600" maxRequestLength="102400" appRequestQueueLimit="100" requestValidationMode="2.0" requestLengthDiskThreshold="10024000" />
    <authentication mode="None" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="InterfaceConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="InterfaceConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="InterfaceConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "InterfaceConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="InterfaceConnection" />
      </providers>
    </sessionState>
     
  
  <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
  </system.web>
  <system.webServer>
	  <httpProtocol>
		  <customHeaders>
			  <remove name="X-Powered-By" />
			  <add name="X-UA-Compatible" value="IE=EmulateIE8"/>
			  <add name="Strict-Transport-Security" value="max-age=31536000"/>
			  <add name="X-Content-Type-Options" value="nosniff" />
			  <add name="X-Frame-Options" value="SAMEORIGIN" />
			  <add name="X-XSS-Protection" value="1; mode=block" />
			  <!--<add name="Content-Security-Policy" value="default-src 'self' https://fonts.gstatic.com http://localhost https://qa-interface.mitsubishi-motors.co.id https://interface.mitsubishi-motors.co.id; script-src 'self' 'unsafe-inline' 'unsafe-eval'; connect-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline' 'unsafe-eval' https://fonts.googleapis.com;base-uri 'self' 'unsafe-inline' 'unsafe-eval';form-action 'self' 'unsafe-inline' 'unsafe-eval'" />-->
			  <add name="Content-Security-Policy" value="default-src 'unsafe-inline';img-src 'unsafe-inline' 'self' https://fonts.googleapis.com;style-src 'unsafe-inline' 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://www.googletagmanager.com https://www.google-analytics.com; style-src-elem 'unsafe-inline' 'self';connect-src 'self' https://www.google-analytics.com; script-src-elem 'self' 'unsafe-inline' https://www.googletagmanager.com https://www.google-analytics.com; frame-src 'self' 'unsafe-inline' https://qa-interface.mitsubishi-motors.co.id https://interface.mitsubishi-motors.co.id" />
		  </customHeaders>
	  </httpProtocol>
    
    
    
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"> 
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.4.0" newVersion="3.3.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <elmah>
    
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="LogConnection" applicationName="Local.DNet.Interface.WebApi" />
    <!--uncomment to enable send error email-->
    <!--<errorMail subject="Production Error - {1}: {0}" smtpServer="server address" from="me@you.com" to="you@me.com" />-->
  
  <!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on remote access and securing ELMAH.
    -->
    <security allowRemoteAccess="false" />
  </elmah>
  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
      <!-- 
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on using ASP.NET authorization securing ELMAH.

      <authorization>
        <allow roles="admin" />
        <deny users="*" />  
      </authorization>
      -->  
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
	  
  </location>
</configuration>