<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <!--<compilation xdt:Transform="RemoveAttributes(debug)" />-->
  </system.web>
  <connectionStrings>    
    <add name="InterfaceConnection" connectionString="Data Source=172.17.31.122;Database=BSIDNET_MMKSI_DMS_20180924_0100;User ID=dms_user;Password=Hunter18;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="LogConnection" connectionString="Data Source=172.17.31.122;Database=BSIDNET_MMKSI_IF_LOG;User ID=dms_user;Password=Hunter18;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="AccountingConnection" connectionString="Data Source=172.17.31.122;Database=BSIDNET_MMKSI_IF_LOG;User ID=admin;Password=hunter2;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="AppId" value="24323FC7-4AA8-49CB-8BAD-BCC700AEC508"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DBTimeout" value="10000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PageSize" value="500" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <!-- Enable Scheduler -->
    <add key="EnableScheduler" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="EnableSwagger" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <!-- Throttle Configuration -->
    <add key="EnableThrottle" value="false"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RetrieveThrottleFromDB" value="false"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ThrottleFilePath" value="\\172.17.31.135\MDNET\DNet\Throttle\mmksi-sit-throttle-config.xml"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
    <add key="SwaggerLogin" value="https://qa-interface.mitsubishi-motors.co.id/WebAuth/loginswagger" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="TokenAudience" value="https://qa-interface.mitsubishi-motors.co.id/WebApi" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <elmah xdt:Transform="Replace">
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="LogConnection" applicationName="SIT.DNet.WebApi" />
    <security allowRemoteAccess="false" />
  </elmah>
</configuration>
