<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <connectionStrings>
    <add name="InterfaceConnection" connectionString="XXX" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="LogConnection" connectionString="XXX" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="AccountingConnection" connectionString="Data Source=172.17.31.190;Database=BSIDMS_MMKSI_IF_ACC;User ID=sa;Password=P@ssw0rd;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    
  </connectionStrings>
  <appSettings>
    <add key="AppId" value="2F0B084A-0736-4BF2-B0BF-A155FD920AB2"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DBTimeout" value="600" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PageSize" value="100" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="SAPFolder" value="\\172.17.31.62\mdnet_repo\Repository\BSI-Net\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SAN" value="\\172.17.31.62\mdnet_repo\Repository\BSI-Net\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="WebServer" value="172.17.31.62" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SAPServer" value="172.17.31.62" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SAPServerFolder" value="\\172.17.31.62\MDNET\SAP" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DNetServerFolder" value="\\172.17.31.62\MDNET\DNet\Sparepart\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="StallManagementDirectory" value="\\172.17.31.62\MDNET\SAP\Service\PDI\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
    <!-- Enable Scheduler -->
    <add key="EnableScheduler" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="EnableSwagger" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <!-- Throttle Configuration -->
    <add key="EnableThrottle" value="false"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RetrieveThrottleFromDB" value="false"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ThrottleFilePath" value="\\172.17.31.62\MDNET\DNet\Throttle\mmksi-release-throttle-config.xml"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
    <add key="SwaggerLogin" value="https://interface.mitsubishi-motors.co.id/Auth/loginswagger" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="TokenIssuer" value="https://interface.mitsubishi-motors.co.id" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TokenAudience" value="https://interface.mitsubishi-motors.co.id/Api" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TokenLifeTime" value="14" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TokenLifeTimeWithNoActivity" value="7" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <!-- Enable/Disable remove image stream-->
    <add key="RemoveImageFromInputDataLog" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RemoveOutputFromOutputDataLog" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <elmah xdt:Transform="Replace">
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="LogConnection" applicationName="PROD.DNet.WebApi" />
    <security allowRemoteAccess="false" />
  </elmah>
</configuration>
