<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="enterpriselibrary.configurationSettings" type="Microsoft.Practices.EnterpriseLibrary.Configuration.ConfigurationManagerSectionHandler,Microsoft.Practices.EnterpriseLibrary.Configuration" />
    </configSections>
    <enterpriselibrary.configurationSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/configuration">
        <configurationSections>
            <configurationSection name="TestConfig">
                <storageProvider xsi:type="AppConfigFileStorageProviderData" name="AppConfigStorage" />
                <dataTransformer xsi:type="XmlSerializerTransformerData" name="XmlTransformer">
                    <includeTypes />
                </dataTransformer>
            </configurationSection>           
        </configurationSections>
        <includeTypes>
            <includeType name="AppConfigFileStorageProviderData" type="Microsoft.Practices.EnterpriseLibrary.Configuration.Tests.Extensions.AppConfigFileStorageProviderData, Microsoft.Practices.EnterpriseLibrary.Configuration.Tests.Extensions" />            
        </includeTypes>
    </enterpriselibrary.configurationSettings>
    <appSettings>
        <add key="MyKey" value="MyValue" />
    </appSettings>
</configuration>