a {color:#585E80;}

a.menuLeft {
	font-family: Sans-Serif, Arial; font-size:11px; color:#000000; margin:0px; text-decoration:none;}

body {
	background-color:#ffffff;}

body, form, table {
	margin:0px; padding:0px;}

td, input, select, textarea, caption, label {
	font-family: Sans-Serif, Arial; font-size:11px; color:#000000; margin:0px; height:auto}

td.welcomeLogin {
	font-family: Sans-Serif, Trebuchet MS, Geneva, Arial; font-size:12px; color:#000000; margin:0px;}

.titlePage {
	font-family: Sans-Serif, Arial; font-size:11pt; color:#990000; margin:0px; font-weight: bold;}

.menuHor {
	font-family: Sans-Serif, Arial; font-size:12px; color:#000000; margin:0px; text-decoration:none; font-weight:bold}

.menuHor2 {
	font-family: Sans-Serif, Arial; font-size:12px; color:#ff0000; margin:0px; text-decoration:underline; font-weight:bold}

.menuImage {
	cursor:hand;}

/*table.tblMenu td{
    padding:0px;
}

table.tblMenu img {
    margin-left: 15px;
    padding-right: 3px; 
}*/