body {
    background-color: #fff;
}

#swagger-ui-container {
    margin-top: 60px;
}

.img-logo{
    position: relative;
    float: left;
    height: 38px;
    top: 3px;
}

#logo {
    /*background: url(../MitsubishiMotors) no-repeat 0px 0;*/
    height: 70px;
    /*width: 60px;*/
    margin-left: 10px;
    float: left;
}

.swagger-section #header #logo {
    font-size: 18px;
    margin-top: -7px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.swagger-section #header #logo .logo__title {
    display: inline-block;
    color: #ededed;
    padding: 20px 0px 0px 0px;
}

.swagger-section #header {
  padding: 0px;
  z-index: 1;
  height: 47px;
  min-width: 775px;
  background-color: #121212;
  box-shadow: 0 2px 10px rgba(255, 0, 0, 0.46);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border-bottom: 2px solid #e60012;
    position: fixed;
    width: 100%;
    height: 45px;
}

.swagger-section #api_selector {
    margin-top: 10px;
}

.swagger-section #input_baseUrl {
    width: 300px;
}

.swagger-section #login-btn {
    display: block;
    text-decoration: none;
    font-weight: bold;
    padding: 3px 8px;
    font-size: 0.9em;
    color: white;
    background-color: #e60012;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 2px;
    border: 0px;
}

#loggedInUser {
    display:none;
    text-align:right;
    padding-top: 4px;
}
#busy {
    text-align:right;
    position: fixed;
    z-index: 10;
}
#readOnlyUserName,
#readOnlyDealerCode {
    color: #fff;
    padding-bottom:5px;
}

.swagger-section .swagger-ui-wrap a {
    color: #b6b6b6;
}

#changeLogin:hover {
    cursor:pointer;
}

#busy {
    position: fixed;
    right: 10px;
    top: 10px;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading ul.options li a {
    color: #ff8e8e;
}

.curl {
    display:none
}

.block curl {
    display:none
}


#dealercode {
    width: 100px;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource {
    border-bottom: 1px solid #ffe1e1;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading h2 a {
    color: #252525;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource:hover div.heading h2 a, .swagger-section .swagger-ui-wrap ul#resources li.resource.active div.heading h2 a {
    color: black;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.heading {
    background-color: #ffe5e5;
    border: 1px solid #ffc0c2;
}

.swagger-section #api_selector input {
    font-size: 0.7em;
    padding: 3px;
    margin: 0;
    border: 1px solid white;
    border-radius: 0px;
}


.userNameFooter { 
    position: relative;
    right: -70px;
    top: -33px;
}

#changeLogin {
    color: #e60012
}   

@media (max-width: 600px) {
    #loggedInUser {
        margin-right: 75px;
    }
}
