<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="enterpriselibrary.configurationSettings" type="Microsoft.Practices.EnterpriseLibrary.Configuration.ConfigurationManagerSectionHandler, Microsoft.Practices.EnterpriseLibrary.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
	</configSections>
	
	
	<appSettings>
		<add key="EmailFrom" value="admin.d-net@ktb.co.id" />
		<add key="SMTP" value="172.17.2.69" />
		<add key="EmailAdmin" value="doni-n@bsi.co.id;ferdinan@bsi.co.id" />
		<!--
		Freq [int]	=> 0:once;1:daily;2:weekly;3:monthly;4:CustomInNumOfDay;5:CustomInNumOfHour
		Date[date]	=> 2013/01/01 format=yyyy/MM/dd
		Time[time]	=> 14:00	format=HHmm ->24based
		Custom[int]	=> 10	number of day or 1 number of hour -> due to FreqType
		To[string]	=> doni-n@bsi.co.id;firman@bsi.co.id separated with ;  
		CC[string]	=> doni-n@bsi.co.id;firman@bsi.co.id separated with ;  
		--> 
		
		<!-- Start IndentPartEquipmentPO -->
  		<add key="IndentPartEquipmentPOFrequency" value="1" />
  		<add key="IndentPartEquipmentPODate" value="2013/07/19" />
  		<add key="IndentPartEquipmentPOTime" value="15:00" />
  		<add key="IndentPartEquipmentPOCustom" value="0" />
  		<add key="IndentPartEquipmentPOTo" value="doni-n@bsi.co.id" /> <!-- basedon EmailIndentRecipient in web.config -->
  		<add key="IndentPartEquipmentPOCC" value="doni-n@bsi.co.id" /> <!-- basedon EmailIndentRecipientCC in web.config -->
  		<add key="IndentPartEquipmentPO1To" value="andre-wijaya@ktb.co.id;rubin@ktb.co.id;dikdik@ktb.co.id;iksansp@ktb.co.id;sudi-p@ktb.co.id;anwar@ktb.co.id;" />  		
  		<add key="IndentPartEquipmentPO1CC" value="m-yani@ktb.co.id;leonard-hs@ktb.co.id;gousfendi@ktb.co.id;ricky-l@ktb.co.id;nevianto@ktb.co.id;" />
  		<add key="IndentPartEquipmentPO2To" value="" />
  		<add key="IndentPartEquipmentPO2CC" value="m-yani@ktb.co.id;leonard-hs@ktb.co.id;gousfendi@ktb.co.id;ricky-l@ktb.co.id;nevianto@ktb.co.id;andre-wijaya@ktb.co.id;rubin@ktb.co.id;dikdik@ktb.co.id;iksansp@ktb.co.id;sudi-p@ktb.co.id;anwar@ktb.co.id;" />
  		<add key="IndentPartEquipmentPO3To" value="" />
  		<add key="IndentPartEquipmentPO3CC" value="m-yani@ktb.co.id;leonard-hs@ktb.co.id;andre-wijaya@ktb.co.id;dikdik@ktb.co.id;" />
		<!-- End IndentPartEquipmentPO -->
		<!-- Start CeilingChecker -->
  		<add key="CeilingCheckerFrequency" value="5" />
  		<add key="CeilingCheckerDate" value="2014/09/08" />
  		<add key="CeilingCheckerTime" value="10:00" />
  		<add key="CeilingCheckerCustom" value="1" />
  		<add key="CeilingCheckerTo" value="doni-n@bsi.co.id" /> <!-- basedon EmailIndentRecipient in web.config -->
  		<add key="CeilingCheckerCC" value="doni-n@bsi.co.id" /> <!-- basedon EmailIndentRecipientCC in web.config -->
  		<!-- End CeilingChecker -->
		
	</appSettings>
	
	
  <enterpriselibrary.configurationSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" applicationName="Application" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/configuration">
  <configurationSections>
    <configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="cachingConfiguration" encrypt="false">
      <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="cachingConfiguration.config" />
      <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
        <includeTypes />
      </dataTransformer>
    </configurationSection>
    <configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="dataConfiguration" encrypt="false">
      <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="dataConfiguration.config" />
      <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
        <includeTypes />
      </dataTransformer>
    </configurationSection>
    <configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="exceptionHandlingConfiguration" encrypt="false">
      <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="exceptionHandlingConfiguration.config" />
      <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
        <includeTypes>
          <includeType name="LoggingExceptionHandlerData" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.Configuration.LoggingExceptionHandlerData, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        </includeTypes>
      </dataTransformer>
    </configurationSection>
    <configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="loggingConfiguration" encrypt="true">
      <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="loggingConfiguration.config" />
      <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
        <includeTypes />
      </dataTransformer>
    </configurationSection>
    <configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="loggingDistributorConfiguration" encrypt="false">
      <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="loggingDistributorConfiguration.config" />
      <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
        <includeTypes>
          <includeType name="RollingFlatFileSinkData" type="Microsoft.Practices.EnterpriseLibrary.Logging.Sinks.RollingFlatFile.Configuration.RollingFlatFileSinkData, Microsoft.Practices.EnterpriseLibrary.Logging.RollingFlatFileSink, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        </includeTypes>
      </dataTransformer>
    </configurationSection>
    <configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="securityConfiguration" encrypt="false">
      <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="securityConfiguration.config" />
      <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
        <includeTypes>
          <includeType name="DbAuthenticationProviderData" type="Microsoft.Practices.EnterpriseLibrary.Security.Database.Authentication.Configuration.DbAuthenticationProviderData, Microsoft.Practices.EnterpriseLibrary.Security.Database.Authentication, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          <includeType name="DbRolesProviderData" type="Microsoft.Practices.EnterpriseLibrary.Security.Database.Configuration.DbRolesProviderData, Microsoft.Practices.EnterpriseLibrary.Security.Database, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        </includeTypes>
      </dataTransformer>
    </configurationSection>
    <configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="securityCryptographyConfiguration" encrypt="false">
      <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="securityCryptographyConfiguration.config" />
      <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
        <includeTypes />
      </dataTransformer>
    </configurationSection>
  </configurationSections>
  <keyAlgorithmStorageProvider xsi:nil="true" />
  <includeTypes />
</enterpriselibrary.configurationSettings>
</configuration>
