<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <connectionStrings>
      <add name="connString" connectionString="Data Source=172.17.31.122;User ID=dms_user;Password=Hunter18;Initial Catalog=BSIDNET_MMKSI_DMS;" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
