<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>

    <add key="URLADDRESS" value="http://172.17.31.135:888/"/>
    <add key="APIADDRESS" value="mmc.dnet.ws/api/saplistener/SendData"/>
    <add key="JV_CAIR_FILE_NAME" value="JVCAIR"/>
    <add key="WSLogFolder" value="\\172.17.31.135\WsLog" />
    
  </appSettings>
  <connectionStrings>
    <add name="ConnectDB" connectionString="Data Source=172.17.31.122;Initial Catalog=BSIDNET_MMKSI;UID=sa;PWD=Hunter2;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>
