<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="enterpriselibrary.configurationSettings" type="Microsoft.Practices.EnterpriseLibrary.Configuration.ConfigurationManagerSectionHandler, Microsoft.Practices.EnterpriseLibrary.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <appSettings>
	<add key="NotifyIcon1.Text" value="ServiceManager" />
	<add key="NotifyIcon1.Visible" value="True" />
	<add key="DefaultService" value="KTB.Dnet.SapListener" />
	<add key="DefaultStartIcon" value="sap_a.ico" />
	<add key="DefaultStopIcon" value="sap_b.ico" />
	<add key="DefaultStartText" value="Runing SAP Service Manager" />
	<add key="DefaultStopText" value="Stoping SAP Service Manager" />
	<add key="DefaultStartImage" value="sap_r3_c1_on.gif" />
	<add key="DefaultStopImage" value="sap_r3_c1_off.gif" />
     <add key="DNetLogFolder" value="c:\Dnet\Log\" />
    <add key="DNetLogFile" value="c:\DnetParser.log" />
    <add key="WebServer" value="172.17.104.204" />
    <add key="WebServerFolder" value="D:\NFS_DNET\Repository\BSI-Net\" />
    <add key="WEBSOFILE_FOLDER" value="SAP\SOFILE" />
    <add key="WEBMOFILE_FOLDER" value="SAP\MOFILE" />
    <add key="WEBMONTLYDOCUMENT_FOLDER" value="DNET\SAP\MONTLYDOCUMENT" />
    <add key="WEBSPFILE_FOLDER" value="SAP\SPAREPART" />
    <add key="User" value="sap" />
    <add key="Password" value="7Karakter" />
    <add key="SO_FILE_FOLDER" value="D:\NFS_Dnet\SOFILE" />
    <add key="SourceFolder" value="D:\NFS_Dnet\DNet" />
    <add key="DestinationFolder" value="D:\NFS_Dnet\History" />
    <add key="CONTRACT_FILE_NAME" value="FU_CON" />
    <add key="PROPOSE_FILE_NAME" value="PROPOS" />
    <add key="CHASSIS_MASTER_FILE_NAME" value="CHASSI" />
    <add key="PURCHASE_ORDER_FILE_NAME" value="FUSALE" />
    <add key="SO_FILE_NAME" value="SOFILE" />
    <add key="PAYMENT_FILE_NAME" value="PAYMEN" />
    <add key="PARTMASTER_FILE_NAME" value="PART_MAST" />
    <add key="CHECKLIST_FILE_NAME" value="RPT" />
    <add key="EMERGENCY_ESTIMATE_FILE_NAME" value="SDGROUP05" />
    <add key="REGULER_ESTIMATE_FILE_NAME" value="SDGROUP04" />
    <add key="ORDERSTATUS_FILE_NAME" value="SP_STATUS" />
    <add key="DO_FILE_NAME" value="DOPRIN" />
    <add key="ACTUAL_GI_FILE_NAME" value="ACT_GI" />
    <add key="WSC_STATUS_FILE_NAME" value="WSC_ST" />
    <add key="LABOR_FILE_NAME" value="MLABOR" />
    <add key="PO_BLOCK_FILE_NAME" value="POBLOK" />
    <add key="EQUIPMENT_PRICE_FILE_NAME" value="EQPRIC" />
    <add key="FREE_SERVICE_STATUS_FILE_NAME" value="FSSTAT" />
    <add key="PDI_STATUS_FILE_NAME" value="PDISTA" />
    <add key="ANNUAL_DISCOUNT_ACHIEVEMENT_FILE_NAME" value="SP_ANNUAL" />
    
    <add key="DEPOSIT_B_REPORT_FILE_NAME" value="DEPB01" />
    <add key="KWITANSI_WARANTY_FILE_NAME" value="KWSC01" />
    <add key="KWITANSI_FREE_SERVICE_CAMPAIGN_FILE_NAME" value="KFSC01" />
    <add key="PDI_LETTER_FILE_NAME" value="LPDI01" />
    <add key="FREE_SERVICE_LETTER_FILE_NAME" value="LFS001" />
    <add key="FREE_SERVICE_CAMPAIGN_LETTER_FILE_NAME" value="LFSC01" />
    <add key="WARANTY_LETTER_FILE_NAME" value="LWSC01" />
    <add key="WARANTY_STATUS_LIST_FILE_NAME" value="WSCSTA" />
    
    <add key="DEPOSIT_C2_FILE_NAME" value="DEPOSITC2" />
    <add key="DEPOSIT_FILE_NAME" value="SPDEPOSIT" />
   <add key="REJECTEDSPAREPARTPO" value="POREJE" />
    <add key="SPAREPART_PO_BILLING_RECAP_FILE_NAME" value="SP_MRECAP" />
    <add key="INVOICE_FILE_NAME" value="FKRESU" />
    	<add key="FilterVerificationCustomer" value="DR;PT;CV;H.;SE;IR;SH;H;DRS;SH;BA;ST;MM;PT.;,PT;Hj;Hj.;Hj,;Hj .;Hj ,; Hj;, Hj"/>	
   
    <!--  Start Non Replecble Area  -->   
    <add key="TimerElapsed" value="7200001" />
          
     <!-- Stop Non Replecble Area  -->   
  </appSettings>
  <enterpriselibrary.configurationSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" applicationName="Application" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/configuration">
  <configurationSections>
    <configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="cachingConfiguration" encrypt="false">
      <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="cachingConfiguration.config" />
      <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
        <includeTypes />
      </dataTransformer>
    </configurationSection>
    <configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="dataConfiguration" encrypt="false">
      <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="dataConfiguration.config" />
      <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
        <includeTypes />
      </dataTransformer>
    </configurationSection>
    <configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="exceptionHandlingConfiguration" encrypt="false">
      <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="exceptionHandlingConfiguration.config" />
      <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
        <includeTypes>
          <includeType name="LoggingExceptionHandlerData" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.Configuration.LoggingExceptionHandlerData, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        </includeTypes>
      </dataTransformer>
    </configurationSection>
    <configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="loggingConfiguration" encrypt="false">
      <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="loggingConfiguration.config" />
      <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
        <includeTypes />
      </dataTransformer>
    </configurationSection>
    <configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="loggingDistributorConfiguration" encrypt="false">
      <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="loggingDistributorConfiguration.config" />
      <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
        <includeTypes>
          <includeType name="RollingFlatFileSinkData" type="Microsoft.Practices.EnterpriseLibrary.Logging.Sinks.RollingFlatFile.Configuration.RollingFlatFileSinkData, Microsoft.Practices.EnterpriseLibrary.Logging.RollingFlatFileSink, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        </includeTypes>
      </dataTransformer>
    </configurationSection>
    <configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="securityConfiguration" encrypt="false">
      <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="securityConfiguration.config" />
      <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
        <includeTypes>
          <includeType name="DbAuthenticationProviderData" type="Microsoft.Practices.EnterpriseLibrary.Security.Database.Authentication.Configuration.DbAuthenticationProviderData, Microsoft.Practices.EnterpriseLibrary.Security.Database.Authentication, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          <includeType name="DbRolesProviderData" type="Microsoft.Practices.EnterpriseLibrary.Security.Database.Configuration.DbRolesProviderData, Microsoft.Practices.EnterpriseLibrary.Security.Database, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        </includeTypes>
      </dataTransformer>
    </configurationSection>
    <configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="securityCryptographyConfiguration" encrypt="false">
      <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="securityCryptographyConfiguration.config" />
      <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
        <includeTypes />
      </dataTransformer>
    </configurationSection>
  </configurationSections>
  <keyAlgorithmStorageProvider xsi:nil="true" />
  <includeTypes />
</enterpriselibrary.configurationSettings>
</configuration>