<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <connectionStrings>
    <add name="InterfaceConnection" connectionString="XXX" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="DNetConnection" connectionString="XXX" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="LogConnection" connectionString="XXX" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="AppId" value="E5B7283A-B361-40A7-8895-3BE6169D7E4B" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>    
    <add key="FilterLimit" value="25" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="DMSAdminClientId" value="66CF4676-56F2-4E47-BFD5-E4E0112557CC" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DMSAdminRoleId" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DMSAdminUserId" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DMSAdminAppId" value="E5B7283A-B361-40A7-8895-3BE6169D7E4B" />

    <!-- Throttle Configuration-->
    <add key="ThrottleFilePath" value="\\172.17.31.62\MDNET\DNet\Throttle\mmksi-release-throttle-config.xml"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <!-- Enable Scheduler -->
    <add key="EnableScheduler" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="TokenUrl" value="https://interface.mitsubishi-motors.co.id/Auth/token" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TokenAudience" value="https://interface.mitsubishi-motors.co.id/Web" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiRoot" value="https://interface.mitsubishi-motors.co.id/Web/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="EnableMinification" value="true"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>