<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <connectionStrings>
    <add name="InterfaceConnection" connectionString="Data Source=172.17.31.122;Database=BSIDNET_MMKSI_DMS_20180924_0100;User ID=dms_user;Password=Hunter18;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="LogConnection" connectionString="Data Source=172.17.31.122;Database=BSIDNET_MMKSI_IF_LOG;User ID=dms_user;Password=Hunter18;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="AppId" value="204D1D00-06E4-40F5-BE6F-7EBD3C4FB3E2" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="FilterLimit" value="25" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="DMSAdminClientId" value="d01aefe6-1879-4b06-aa5e-75e5594cc93c" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DMSAdminRoleId" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DMSAdminUserId" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DMSAdminAppId" value="204D1D00-06E4-40F5-BE6F-7EBD3C4FB3E2" />

    <!-- Throttle Configuration-->
    <add key="ThrottleFilePath" value="\\172.17.31.135\MDNET\DNet\Throttle\mmksi-dmstest-throttle-config.xml"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <!-- Enable Scheduler -->
    <add key="EnableScheduler" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="TokenUrl" value="https://qa-interface.mitsubishi-motors.co.id/DMSTestAuth/token" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TokenAudience" value="https://qa-interface.mitsubishi-motors.co.id/DMSTestUI" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiRoot" value="https://qa-interface.mitsubishi-motors.co.id/DMSTestUI/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="EnableMinification" value="true"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

  </appSettings>
</configuration>