<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <connectionStrings>
    <add name="InterfaceConnection" connectionString="Data Source=172.17.31.122;Database=BSIDNET_MMKSI_IF_CONFIG;User ID=admin;Password=hunter2;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="DNetConnection" connectionString="Data Source=172.17.31.122;Database=BSIDNET_MMKSI;User ID=admin;Password=hunter2;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="LogConnection" connectionString="Data Source=172.17.31.122;Database=BSIDNET_MMKSI_IF_LOG;User ID=admin;Password=hunter2;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="AppId" value="28c4840b-c04f-4ebd-8b8a-ebed80deb7da" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="FilterLimit" value="25" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="DMSAdminClientId" value="666ce052-d252-4d73-90a1-67477a44b8f3" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DMSAdminRoleId" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DMSAdminUserId" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DMSAdminAppId" value="28c4840b-c04f-4ebd-8b8a-ebed80deb7da" />

    <!-- Throttle Configuration-->
    <add key="ThrottleFilePath" value="\\172.17.31.135\MDNET\DNet\Throttle\mmksi-cr-throttle-config.xml"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <!-- Enable Scheduler -->
    <add key="EnableScheduler" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="TokenUrl" value="https://qa-interface.mitsubishi-motors.co.id/CR-Auth/token" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TokenAudience" value="https://qa-interface.mitsubishi-motors.co.id/CR-UI" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiRoot" value="https://qa-interface.mitsubishi-motors.co.id/CR-UI/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="EnableMinification" value="true"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>