<?xml version="1.0" encoding="utf-8"?>
<securityConfiguration>
  <xmlSerializerSection type="Microsoft.Practices.EnterpriseLibrary.Security.Configuration.SecuritySettings, Microsoft.Practices.EnterpriseLibrary.Security, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
    <enterpriseLibrary.securitySettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" defaultAuthorizationInstance="RuleProvider" defaultAuthenticationInstance="Database Provider" defaultRolesInstance="Role Database Provider" defaultProfileInstance="Profile Database Provider" defaultSecurityCacheInstance="Caching Store Provider" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/security">
      <rolesProviders>
        <rolesProvider xsi:type="DbRolesProviderData" name="Role Database Provider" database="Database Instance" />
      </rolesProviders>
      <authorizationProviders>
        <authorizationProvider xsi:type="AuthorizationRuleProviderData" name="RuleProvider">
          <rules>
            <rule name="BasicProductCancellation" expression="I:? OR I:user1" />
            <rule name="BasicProductCreate" expression="I:? OR I:user1" />
            <rule name="BasicProductUpdate" expression="I:? OR I:user1" />
          </rules>
        </authorizationProvider>
      </authorizationProviders>
      <authenticationProviders>
        <authenticationProvider xsi:type="DbAuthenticationProviderData" name="Database Provider" database="Database Instance" hashProvider="SHA1Managed" />
      </authenticationProviders>
      <profileProviders />
      <securityCacheProviders />
    </enterpriseLibrary.securitySettings>
  </xmlSerializerSection>
</securityConfiguration>