<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="InterfaceConnection" connectionString="Data Source=172.17.31.122;Database=BSIDNET_MMKSI_IF_CONFIG;User ID=admin;Password=hunter2;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="LogConnection" connectionString="Data Source=172.17.31.122;Database=BSIDNET_MMKSI_IF_LOG;User ID=admin;Password=hunter2;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="AppId" value="27B5C254-3C27-47F8-AD00-041E3C98F743" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="TokenIssuer" value="https://interface.mitsubishi-motors.co.id" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TokenLifeTime" value="14" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TokenLifeTimeWithNoActivity" value="7" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>


