<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=31.33
  -->
<configuration>
  <configSections>
    <section name="TokenAudiences" type="System.Configuration.DictionarySectionHandler" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="InterfaceConnection" connectionString="Data Source=172.17.31.122;Database=BSIDNET_MMKSI_CR_DigitalizeClaim;User ID=admin;Password=hunter123!!;" providerName="System.Data.SqlClient" />
    <add name="LogConnection" connectionString="Data Source=172.17.31.122;Database=BSIDNET_MMKSI_IF_LOG;User ID=admin;Password=hunter123!!;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="AppId" value="9B9E9EE7-A8D1-4759-95FD-DC64D9DC73ED" />
    <add key="TokenIssuer" value="https://interface.mitsubishi-motors.co.id" />
    <add key="TokenLifeTime" value="14" />
    <add key="TokenLifeTimeWithNoActivity" value="7" />
    <!-- on days -->
  </appSettings>
  <TokenAudiences>
    <add key="aud1" value="http://localhost/MMKSIWebApi" />
    <add key="aud2" value="http://localhost/MMKSIWebUI" />
    <add key="aud3" value="https://qa-interface.mitsubishi-motors.co.id/UATApi" />
    <add key="aud4" value="https://qa-interface.mitsubishi-motors.co.id/UATUI" />
    <add key="aud5" value="https://qa-interface.mitsubishi-motors.co.id/DMSApi" />
    <add key="aud6" value="https://qa-interface.mitsubishi-motors.co.id/DMSUI" />
    <add key="aud7" value="https://qa-interface.mitsubishi-motors.co.id/WebApi" />
    <add key="aud8" value="https://qa-interface.mitsubishi-motors.co.id/WebUI" />
    <add key="aud9" value="https://qa-interface.mitsubishi-motors.co.id/DMSTestApi" />
    <add key="aud10" value="https://qa-interface.mitsubishi-motors.co.id/DMSTestUI" />
    <add key="aud11" value="https://qa-interface.mitsubishi-motors.co.id/QA-Api" />
    <add key="aud12" value="https://qa-interface.mitsubishi-motors.co.id/QA-UI" />
    <add key="aud13" value="https://qa-interface.mitsubishi-motors.co.id/DEV-Api" />
    <add key="aud14" value="https://qa-interface.mitsubishi-motors.co.id/DEV-UI" />
    <add key="aud15" value="https://qa-interface.mitsubishi-motors.co.id/Training-Api" />
    <add key="aud16" value="https://qa-interface.mitsubishi-motors.co.id/Training-UI" />
    <add key="aud17" value="https://qa-interface.mitsubishi-motors.co.id/MIG-UI" />
    <add key="aud18" value="https://qa-interface.mitsubishi-motors.co.id/MIG-Api" />
    <add key="aud19" value="https://qa-interface.mitsubishi-motors.co.id/CR-Api" />
    <add key="aud20" value="https://qa-interface.mitsubishi-motors.co.id/CR-UI" />
    <add key="aud21" value="https://qa-interface.mitsubishi-motors.co.id/CR1-Api" />
    <add key="aud22" value="https://qa-interface.mitsubishi-motors.co.id/CR1-UI" />
    <add key="aud23" value="https://qa-interface.mitsubishi-motors.co.id/CR2-Api" />
    <add key="aud24" value="https://qa-interface.mitsubishi-motors.co.id/CR2-UI" />
    <add key="aud25" value="https://qa-interface.mitsubishi-motors.co.id/CR3-Api" />
    <add key="aud26" value="https://qa-interface.mitsubishi-motors.co.id/CR3-UI" />
    <add key="aud27" value="https://qa-interface.mitsubishi-motors.co.id/API" />
    <add key="aud28" value="https://qa-interface.mitsubishi-motors.co.id/Web" />
    <add key="aud29" value="https://qa-interface.mitsubishi-motors.co.id/ACC-API" />
    <add key="aud30" value="https://qa-interface.mitsubishi-motors.co.id/ACC-UI" />
    <add key="aud31" value="https://qa-interface.mitsubishi-motors.co.id/CR4-Api" />
    <add key="aud32" value="https://qa-interface.mitsubishi-motors.co.id/CR4-UI" />
    <add key="aud33" value="https://qa-interface.mitsubishi-motors.co.id/CR5-Api" />
    <add key="aud34" value="https://qa-interface.mitsubishi-motors.co.id/CR5-UI" />
    <add key="aud35" value="https://qa-interface.mitsubishi-motors.co.id/CR6-Api" />
    <add key="aud36" value="https://qa-interface.mitsubishi-motors.co.id/CR6-UI" />
    <add key="aud37" value="https://qa-interface.mitsubishi-motors.co.id/CR7-Api" />
    <add key="aud38" value="https://qa-interface.mitsubishi-motors.co.id/CR7-UI" />
    <add key="aud39" value="https://qa-interface.mitsubishi-motors.co.id/EUST-Api" />
    <add key="aud40" value="https://qa-interface.mitsubishi-motors.co.id/CR8-Api" />
    <add key="aud41" value="https://qa-interface.mitsubishi-motors.co.id/CR9-Api" />
    <add key="aud42" value="https://qa-interface.mitsubishi-motors.co.id/CR10-Api" />
    <add key="aud43" value="https://qa-interface.mitsubishi-motors.co.id/CR11-Api" />
    <add key="aud44" value="https://qa-interface.mitsubishi-motors.co.id/CR12-Api" />
  </TokenAudiences>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5" />
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <elmah>
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="LogConnection" applicationName="KTB.DNet.Interface.WebAuth" />

    <!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on remote access and securing ELMAH.
    -->
    <security allowRemoteAccess="false" />
  </elmah>
  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
      <!-- 
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on using ASP.NET authorization securing ELMAH.

      <authorization>
        <allow roles="admin" />
        <deny users="*" />  
      </authorization>
      -->
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
</configuration>
