<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="InterfaceConnection" connectionString="XXX" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="LogConnection" connectionString="XXX" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="AppId" value="43411B1B-AFB9-46DC-8CFB-4C65E033B823" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="TokenIssuer" value="https://interface.mitsubishi-motors.co.id" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TokenLifeTime" value="14" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TokenLifeTimeWithNoActivity" value="7" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <TokenAudiences xdt:Transform="Replace" >
    <add key="aud1" value="https://interface.mitsubishi-motors.co.id/Api" />
    <add key="aud2" value="https://interface.mitsubishi-motors.co.id/Web" />
  </TokenAudiences>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>


