<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="enterpriselibrary.configurationSettings" type="Microsoft.Practices.EnterpriseLibrary.Configuration.ConfigurationManagerSectionHandler, Microsoft.Practices.EnterpriseLibrary.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
	</configSections>
	<connectionStrings>

	</connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="2.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="PreserveLoginUrl" value="true" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="CompanyCode" value="MMC" />
		<add key="IsUsedSecurityPrivilege" value="true" />
		<add key="FM" value="N" />
		<add key="LOGERROR" value="YES" />
		<add key="IsLogToSysLog" value="Y" />
		<add key="EnableSyslog" value="True" />
		<add key="User" value="sap" />
		<add key="Password" value="7Karakter" />
		<add key="WebServer" value="172.17.31.135" />
		<add key="SyslogServerHostName" value="172.17.31.135" />
		<add key="SyslogSecondaryServerHostName" value="172.17.31.135" />
		<add key="SyslogServerPortNumber" value="1468" />
		<add key="IsSyslogUseUDP" value="True" />
		<add key="LoginMode" value="ORIGINAL" />
		<!--<add key="LoginMode" value="ORIGINAL"/> LIVE-->

		<add key="ROW_LINEBREAKER" value="\n" />
		<add key="COL_SEPARATOR" value=";" />
		<add key="INDICATOR_KEY" value="K" />
		<add key="INDICATOR_HEADER" value="H" />
		<add key="INDICATOR_DETAIL" value="D" />
		<add key="INDICATOR_DETAIL_CHILD" value="DD" />

		<add key="FORMAT_DATESHORT" value="yyyyMMdd" />
		<add key="FORMAT_DATELONG" value="yyyyMMddHHmmss" />
		<add key="FORMAT_CURRENCY" value="english" />

		<!--<add key="AllowedAddress" value="172.17.2.204;172.17.2.205;172.17.2.206;172.17.2.208;172.17.2.212;172.17.2.202"/>-->
		<add key="AllowedAddress" value="" />
		<add key="LogPathTxt" value="D:\Data\Log_MMC\WS_Log.txt" />
		<add key="ResendPassword" value="7Karakter" />
		<add key="WSJSONPassword" value="8Karakter" />


		<add key="TRANSFERCEILING_NAME" value="TRANSFERCEILING" />
		<add key="TRANSFERCEILINGDETAIL_NAME" value="TRANSCEILINGDETAIL" />
		<add key="SOCHANGE_NAME" value="SOCHANGE" />
		<add key="SOCREATE_NAME" value="SOCREATE" />
		<add key="TRANSPAYMENT_NAME" value="TRANSPAYMENT" />
		<add key="UPDATECEILING_NAME" value="UPDATECEILING" />
		<add key="TRANSACTUALDATE_NAME" value="TRANSACTUALDATE" />

		<!--DSK Start-->
		<add key="SPDELIVERYORDER_NAME" value="SPDELIVERYORDER" />
		<add key="SPDODELETE_NAME" value="SPDODELETE" />
		<add key="SPPACKING_NAME" value="SPPACKING" />
		<add key="SPPRINTPACKING_NAME" value="SPPRINTPACKING" />
		<add key="SPBILLING_NAME" value="SPBILLING" />
		<add key="SPBILLINGDELETE_NAME" value="SPBILLINGDELETE" />
		<add key="SPEXPEDITION_NAME" value="SPEXPEDITION" />
		<add key="SPPAYMENT_NAME" value="SPPAYMENT" />
		<add key="SPSALESORDER_NAME" value="SPSALESORDER" />
		<add key="SPSODELETE_NAME" value="SPSSODELETE" />

		<!--DSK End-->

		<!--PODESTINANTION-->
		<add key="PODESTINATION_NAME" value="PODest" />
		<!--PODESTINANTION END-->


		<!-- MOTORPOOL START-->
		<add key="LOGMODEL_NAME" value="LOGMODEL" />
		<add key="LOGCOST_NAME" value="LOGCOST" />
		<add key="DCCREATE_NAME" value="DCCREATE" />
		<add key="DCCHANGE_NAME" value="DCCHANGE" />
		<!-- MOTORPOOL END-->

		<!-- WEMS -->
		<add key="BILLINGCREATE_NAME" value="BILLINGCREATE" />
		<add key="BILLINGUPDATE_NAME" value="BILLINGUPDATE" />
		<!-- End WEMS -->


		<!--MSPMaster Start-->
		<add key="MSPMASTER_NAME" value="MSPMASTER" />
		<add key="MSPTYPE_NAME" value="MSPTYPE" />
		<add key="MSPDURATIONPMKIND_NAME" value="MSPDurationPMKind" />
		<add key="MSPTRANSPAYMENT_NAME" value="MSPTRANSPAYMENT" />
		<!--MSPMaster End-->

		<add key="MSPEXTTYPE_NAME" value="MSPEXTTYPE" />
		<add key="MSPEXTMASTER_NAME" value="MSPEXTMASTER" />
		<add key="MSPEXTACTUALDATE_NAME" value="MSPEXTACTUALDATE" />
		<add key="MSPEXTPAYMENT_NAME" value="MSPEXTPAYMENT" />
		<add key="MSPEXTREGISTRATION_NAME" value="FUDNMSPEXT" />
		<add key="MSPEXFAKTURPAJAK_NAME" value="MSPEXFAKTURPAJAK" />

  <!--MSPExFleet Start-->    
    <add key="FLEETMASTER_NAME" value="FLEETMASTER" />
    <add key="FLEETTYPE_NAME" value="FLEETTYPE" />
  <!--MSPExFleet End-->    

		<!-- Master Data Centralized START -->
		<add key="VEHICLEMODEL_NAME" value="MASTERPRODUCTHIERARCHY" />
		<add key="PROVINCECITY_NAME" value="MASTERCITY" />

		<add key="VEHICLETYPE_NAME" value="MASTERVARIANT" />
		<add key="VEHICLEPRICE_NAME" value="VEHICLEPRICE" />
		<add key="SPAREPART_NAME" value="SPMASTER" />
		<add key="SPAREPARTPRICE_NAME" value="SPPRICE" />
		<add key="SPAREPARTMASTERALT_NAME" value="SPALT" />

		<add key="AREA_NAME" value="AREAMASTER" />
		<add key="DEALERBRANCH_NAME" value="MASTERDEALERBRANCH" />
		<!-- Master Data Centralized END -->

		<!--Invoice Revision Start-->
		<add key="KAROSERI_NAME" value="MASTERCARROSSERIE" />
		<add key="LEASING_NAME" value="MASTERLEASING" />
		<add key="REVISIONPRICE_NAME" value="MASTERPRICEINVOICEREVISION" />
		<add key="REVISIONPAYMENTTRANS_NAME" value="IRTRANSFER" />
		<add key="REVISIONPAYMENTVIRTU_NAME" value="IRVIRTU" />
		<add key="REVISIONPAYMENTGYRO_NAME" value="IRGIRO" />
		<add key="REVISIONPAYMENTJVCANCEL_NAME" value="IRJVCANCEL" />
		<add key="REVISIONPAYMENTIRTRANSPAYMENT_NAME" value="IRTRANSPAYMENT" />
		<!--Invoice Revision End-->

		<!--TOPSPBillingBlock Start-->
		<add key="TOPSPBILLINGBLOCK_NAME" value="TOPSPBillingBlock" />
		<add key="TOPSPTRANSCEILING_NAME" value="TOPSPTRANSCEILING" />
		<add key="TOPSPTRANSCEILINGDETAIL_NAME" value="TOPSPTRANSCEILINGDETAIL" />
		<add key="TOPSPUPDATECEILING_NAME" value="TOPSPUPDATECEILING" />
		<add key="TOPSPBILLINGDEPOSIT_NAME" value="TOPSPBILLINGDEPOSIT" />
		<add key="TOPTRANSACTUALDATE_NAME" value="TOPTRANSACTUALDATE" />
		<add key="TOPSPKLIRING_NAME" value="TOPSPKLIRING" />
		<add key="CODOUTSTANDING_NAME" value="CODOUTSTANDING" />
		<add key="CODPAYMENT_NAME" value="CODPAYMENTLIST" />
		<add key="TOPSPPENALTY_NAME" value="TOPSPPENALTY" />
		<add key="TOPSPPENALTYUPDATE_NAME" value="TOPSPPENALTYUPDATE" />
		<add key="TOPSPPENALTYJV_NAME" value="TOPSPPENALTYJV" />

		 <add key="TOPSPPAYMENTOUTSTANDING_NAME" value="TOPSPPAYMENTOUTSTANDING" />
		<!--TOPSPBillingBlock End-->
		<add key="MASTERINTEREST_NAME" value="MASTERINTEREST" />
		<add key="MASTERINTERESTPO_NAME" value="MASTERINTERESTPO" />


		<!--Start Master Dealer Centralize-->
		<add key="MASTERDEALERGROUP_NAME" value="MASTERDEALERGROUP" />
		<add key="MASTERCREDITACCOUNT_NAME" value="MASTERCREDITACCOUNT" />
		<add key="MASTERTOP_NAME" value="MASTERTOP" />
		<add key="MASTERDEALERTERRITORY_NAME" value="MASTERDEALERTERRITORY" />
		<add key="MASTERDEALER_NAME" value="MASTERDEALER" />
		<add key="MASTERVEHICLEKIND_NAME" value="MASTERVEHICLEKIND" />
		<!--End Master Dealer Centralize-->


		<!--<add key="MDPPERIODSTOCK_NAME" value="MDPPERIODSTOCK" />-->
		<add key="MDPDAILYSTOCK_NAME" value="MDPDAILYSTOCK" />
		<add key="MDPDEALER_NAME" value="MDPDEALER" />
		<add key="MDPVEHICLE_NAME" value="MDPVEHICLE" />
		<add key="SBABITJV_NAME" value="SBABITJV" />

		<add key="DEALERSTALLEQUIPMENT_NAME" value="DEALERSTALLEQUIPMENT" />
		<add key="DEALERFACILITY_NAME" value="DEALERFACILITY" />
		<add key="SALESORGANIZATION_NAME" value="DEALERSALESORGANIZATION" />
		<add key="DEALERCONTACT_NAME" value="DEALERCONTACT" />
		<add key="ALLOCATEFSKIND_NAME" value="ALLOCATEFSKIND" />
		<add key="FSKIND_NAME" value="FSKIND" />
		
		<add key="JSONPASSWORD" value="8Karakter" />


		<add key="DOC-MONTHLY" value="DOC-MONTHLY" />
	
	<add key="SPAREPARTNOTARETUR_NAME" value="SPAREPARTNOTARETUR" />

    <add key="BILLINGAPOUTSTANDING_NAME" value="BILLINGAPOUTSTANDING" />
	</appSettings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
	<system.web>
		<compilation debug="true" targetFramework="4.5.2" />
		<httpRuntime targetFramework="4.5" />
		<authentication mode="None" />
		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Optimization" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
			</namespaces>
		</pages>
		<profile defaultProvider="DefaultProfileProvider">
			<providers>
				<add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
			</providers>
		</profile>
		<membership defaultProvider="DefaultMembershipProvider">
			<providers>
				<add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
			</providers>
		</membership>
		<roleManager defaultProvider="DefaultRoleProvider">
			<providers>
				<add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
			</providers>
		</roleManager>
		<!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
		<sessionState mode="InProc" customProvider="DefaultSessionProvider">
			<providers>
				<add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
			</providers>
		</sessionState>


	</system.web>

	<enterpriselibrary.configurationSettings applicationName="Application" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/configuration">
		<configurationSections>
			<configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="cachingConfiguration" encrypt="false">
				<storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="cachingConfiguration.config" />
				<dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
					<includeTypes />
				</dataTransformer>
			</configurationSection>
			<configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="dataConfiguration" encrypt="false">
				<storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="dataConfiguration.config" />
				<dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
					<includeTypes />
				</dataTransformer>
			</configurationSection>
			<configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="exceptionHandlingConfiguration" encrypt="false">
				<storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="exceptionHandlingConfiguration.config" />
				<dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
					<includeTypes>
						<includeType name="LoggingExceptionHandlerData" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.Configuration.LoggingExceptionHandlerData, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					</includeTypes>
				</dataTransformer>
			</configurationSection>
			<configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="loggingConfiguration" encrypt="false">
				<storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="loggingConfiguration.config" />
				<dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
					<includeTypes />
				</dataTransformer>
			</configurationSection>
			<configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="loggingDistributorConfiguration" encrypt="false">
				<storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="loggingDistributorConfiguration.config" />
				<dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
					<includeTypes>
						<includeType name="RollingFlatFileSinkData" type="Microsoft.Practices.EnterpriseLibrary.Logging.Sinks.RollingFlatFile.Configuration.RollingFlatFileSinkData, Microsoft.Practices.EnterpriseLibrary.Logging.RollingFlatFileSink, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					</includeTypes>
				</dataTransformer>
			</configurationSection>
			<configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="securityConfiguration" encrypt="false">
				<storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="securityConfiguration.config" />
				<dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
					<includeTypes>
						<includeType name="DbRolesProviderData" type="Microsoft.Practices.EnterpriseLibrary.Security.Database.Configuration.DbRolesProviderData, Microsoft.Practices.EnterpriseLibrary.Security.Database, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
						<includeType name="DbAuthenticationProviderData" type="Microsoft.Practices.EnterpriseLibrary.Security.Database.Authentication.Configuration.DbAuthenticationProviderData, Microsoft.Practices.EnterpriseLibrary.Security.Database.Authentication, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
						<includeType name="DbRulesAuthorizationProviderData" type="KTB.DNet.Security.Database.Authorization.DbRulesAuthorizationProviderData, KTB.DNet.Security.Database.Authorization, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					</includeTypes>
				</dataTransformer>
			</configurationSection>
			<configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="securityCryptographyConfiguration" encrypt="false">
				<storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="securityCryptographyConfiguration.config" />
				<dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
					<includeTypes />
				</dataTransformer>
			</configurationSection>
		</configurationSections>
		<keyAlgorithmStorageProvider xsi:nil="true" />
		<includeTypes />
	</enterpriselibrary.configurationSettings>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept,auth-key, x-pass-header" />
			</customHeaders>
		</httpProtocol>
		<handlers>
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<directoryBrowse enabled="true" />
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>

			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

</configuration>