<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="enterpriselibrary.configurationSettings" type="System.Configuration.IgnoreSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="Bug1664Ok" type="System.Configuration.IgnoreSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </configSections>
    <enterpriselibrary.configurationSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/configuration">
        <configurationSections>
			<configurationSection name="Bug1645" encrypt="false">
                <storageProvider xsi:type="XmlFileStorageProviderData" name="XmlStorage" path="myconfig.xml" />
                <dataTransformer xsi:type="XmlSerializerTransformerData" name="XmlTransformer">
					<includeTypes />
                </dataTransformer>
            </configurationSection> 
            <configurationSection name="SqlTestConfig" encrypt="false">
                <storageProvider xsi:type="SqlStorageProviderData" name="SqlStorageProviderData" connectionString="server=localhost;database=EntLibExtensions;Integrated Security=true" getStoredProcedure="EntLib_GetConfig" setStoredProcedure="EntLib_SetConfig"/>
                <dataTransformer xsi:type="XmlSerializerTransformerData" name="XmlTransformer">
                    <includeTypes />
                </dataTransformer>
            </configurationSection>
            <configurationSection name="RegistryTestConfig" encrypt="false">
                <storageProvider xsi:type="RegistryStorageProviderData" name="RegistryStorageProviderData" registryRoot="CurrentUser" registrySubKey="Software\Microsoft\EnterpriseLibrary"/>
                <dataTransformer xsi:type="XmlSerializerTransformerData" name="XmlTransformer">
                    <includeTypes />
                </dataTransformer>
            </configurationSection>
            <configurationSection name="EncryptedRegistryTestConfig" encrypt="true">
                <storageProvider xsi:type="RegistryStorageProviderData" name="RegistryStorageProviderData" registryRoot="CurrentUser" registrySubKey="Software\Microsoft\EnterpriseLibrary"/>
                <dataTransformer xsi:type="XmlSerializerTransformerData" name="XmlTransformer">
                    <includeTypes />
                </dataTransformer>
            </configurationSection> 
            <configurationSection name="TestConfig" encrypt="false">
                <storageProvider xsi:type="AppConfigFileStorageProviderData" name="AppConfigStorage" />
                <dataTransformer xsi:type="XmlSerializerTransformerData" name="XmlTransformer">
                    <includeTypes />
                </dataTransformer>
            </configurationSection>  
            <configurationSection name="ApplConfig1" encrypt="false">
                <storageProvider xsi:type="XmlFileStorageProviderData" name="XmlStorage" path="myconfig.xml" />
                <dataTransformer xsi:type="XmlSerializerTransformerData" name="XmlTransformer">
					<includeTypes />
                </dataTransformer>
            </configurationSection>
            <configurationSection name="EncryptedProblem" encrypt="true">
                <storageProvider xsi:type="XmlFileStorageProviderData" name="XmlStorage" path="BlankEncryptConfig.xml" />
                <dataTransformer xsi:type="XmlSerializerTransformerData" name="XmlTransformer">
					<includeTypes />
                </dataTransformer>
            </configurationSection>            
            <configurationSection name="MyEncryptedConfig" encrypt="true">
                <storageProvider xsi:type="XmlFileStorageProviderData" name="XmlStorage" path="EncryptConfig.xml" />
                <dataTransformer xsi:type="XmlSerializerTransformerData" name="XmlTransformer">
                	<includeTypes />
                </dataTransformer>
            </configurationSection>
            <configurationSection name="japanese-xml" encrypt="false">
                <storageProvider xsi:type="XmlFileStorageProviderData" name="XmlStorage" path="JapaneseXml.xml" />
                <dataTransformer xsi:type="XmlSerializerTransformerData" name="XmlTransformer">
                	<includeTypes />
                </dataTransformer>
            </configurationSection>
            <configurationSection name="MockConfig" encrypt="false">
                <storageProvider xsi:type="XmlFileStorageProviderData" name="XmlStorage" path="myconfig.xml" />
                <dataTransformer xsi:type="XmlSerializerTransformerData" name="XmlTransformer">
                	<includeTypes />
                </dataTransformer>
            </configurationSection>
            <configurationSection name="SpaceConfig" encrypt="false">
                <storageProvider xsi:type="XmlFileStorageProviderData" path="         myconfig.xml" />
                <dataTransformer xsi:type="XmlSerializerTransformerData" name="XmlTransformer">
                	<includeTypes />
                </dataTransformer>
            </configurationSection>
            <configurationSection name="ReadOnlyConfig" encrypt="false">
                <storageProvider xsi:type="ReadOnlyStorageProviderData" name="ReadonlyStorage" />
                <dataTransformer xsi:type="XmlSerializerTransformerData" name="XmlTransformer">
                	<includeTypes />
                </dataTransformer>
            </configurationSection>
            <configurationSection name="NoStorageConfig" encrypt="false">
                <storageProvider xsi:type="XmlFileStorageProviderData" name="NotRealStorage" />
                <dataTransformer xsi:type="XmlSerializerTransformerData" name="XmlTransformer">
                	<includeTypes />
                </dataTransformer>
            </configurationSection>
            <configurationSection name="NoTransformer" encrypt="false">
                <storageProvider xsi:type="XmlFileStorageProviderData" name="XmlStorage" path="NoTransformerConfig.xml" />
            </configurationSection>
			<configurationSection name="SqlWatcherTest" encrypt="false">
				<storageProvider xsi:type="SqlStorageProviderData" name="SqlStorageProviderData" connectionString="server=localhost;database=EntLibExtensions;Integrated Security=true" getStoredProcedure="EntLib_GetConfig" setStoredProcedure="EntLib_SetConfig"/>
				<!--<storageProvider xsi:type="SqlStorageProviderData" name="Sql Storage Provider" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=EntLibQuickStarts;Data Source=localhost" getStoredProcedure="EntLib_GetConfig" setStoredProcedure="EntLib_SetConfig" />-->
				<dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
					<includeTypes />
                </dataTransformer>
			</configurationSection>
			<configurationSection name="XmlWatcherTest" encrypt="false">
				<storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="XmlWatcherTest.xml" />
				<dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
					<includeTypes />
                </dataTransformer>
			</configurationSection>
			<configurationSection name="RegistryWatcherTest" encrypt="false">
				<storageProvider xsi:type="RegistryStorageProviderData" name="Registry Storage Provider" registryRoot="CurrentUser" registrySubKey="RegistryWatcherTest" />
				<dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
					<includeTypes />
                </dataTransformer>
			</configurationSection>
        </configurationSections>
        <keyAlgorithmStorageProvider xsi:type="FileKeyAlgorithmPairStorageProviderData" name="File Key Algorithm Storage Provider"
            path="encryptkey.key">
            <dpapiSettings xsi:nil="true" />
        </keyAlgorithmStorageProvider>
    </enterpriselibrary.configurationSettings>
    <appSettings>
        <add key="MyKey" value="MyValue" />
    </appSettings>
	<Bug1664Ok>
		<xmlSerializerSection type="Microsoft.Practices.EnterpriseLibrary.Configuration.Tests.ConfigurationData, Microsoft.Practices.EnterpriseLibrary.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
		<ConfigurationData xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
			<Color>Red</Color>
			<SomeText>Some random text</SomeText>
			<Size>5</Size>
		</ConfigurationData>
		</xmlSerializerSection>
	</Bug1664Ok>
</configuration>