input.hideButtonOnPrint { visibility:hidden; }
img.hideLinkButtonOnPrint {visibility:hidden;}
select.hideDropDownOnPrint {visibility:hidden;}
tr.hideTrOnPrint {visibility:hidden;}
span.hideSpanOnPrint {visibility:hidden;}