<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <appSettings>
	<add key="SMTP" value="172.17.2.131" />
	<add key="Sender" value="SAP@ktb.co.id" />
	<add key="Receiver" value="heru.D-Net@bsi.co.id" />
	<add key="Subject" value="20001-20002-SAP/IIS_Service_FAILED" />
 </appSettings>
</configuration>
