<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="enterpriselibrary.configurationSettings" type="Microsoft.Practices.EnterpriseLibrary.Configuration.ConfigurationManagerSectionHandler, Microsoft.Practices.EnterpriseLibrary.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <appSettings>
    <!-- Config Path -->
    <add key="AppID" value="MMC.DNet.SapListener" />
    <add key="CompanyCode" value="MMC" />
    <add key="DNetLogFile" value="D:\Data\Log\MMKSI.DnetParser.log" />
    <add key="DNetLogFolder" value="D:\Data\Log\" />
    <add key="User" value="sap" />
    <add key="Password" value="7Karakter" />
    <add key="SIGNAL_EXTENSION" value=".WTS" />

    <add key="SO_FILE_FOLDER" value="D:\Data\NFS_MMC\SOFILE" />
    <add key="SourceFolder" value="D:\Data\NFS_MMC\DNet" />
    <add key="DestinationFolder" value="D:\Data\NFS_MMC\History" />

    <add key="SyslogSecondaryServerHostName" value="172.17.31.61" />
    <add key="SyslogServerHostName" value="172.17.31.60" />  
    <add key="SyslogServerPortNumber" value="1468" />
    <add key="TimerElapsed" value="720001" />
    <add key="WebServer" value="172.17.31.135" />
    <add key="WebServerFolder" value="\\172.17.31.135\MDNET_Repo\Repository\BSI-Net\" />
    <!--<add key="WebServerFolder" value="D:\MDNET_Repo\Repository\BSI-Net\"/>-->

    <!-- End Of Config Path-->

    <!-- Email Path -->
    <add key="SMTP" value="172.17.2.69" />
    <add key="EquipmentReceiver" value="anna@bsi.co.id;angga.gauvana@bsi.co.id;yurike@bsi.co.id" />
    <add key="EquipmentSender" value="admin.D-Net@mitsubishi-motors.co.id" />
    <!-- End Of Email Path-->

    <!-- KeyName txt.wts -->
    <add key="ACTUAL_GI_FILE_NAME" value="ACT_GI" />
    <add key="ANNUAL_DISCOUNT_ACHIEVEMENT_FILE_NAME" value="SP_ANNUAL" />
    <add key="BILLING_RETUR_FILE_NAME" value="BILLINGRE" />
    <add key="BO_EOUTSTANDINGEORO_FILE_NAME" value="SDGROUP11" />
    <add key="BO_EOUTSTANDINGEO_FILE_NAME" value="SDGROUP10" />
    <add key="BO_ESTIMATEEO_FILE_NAME" value="SDGROUP08" />
    <add key="BO_ESTIMATERO_FILE_NAME" value="SDGROUP07" />
    <add key="BO_OUTSTANDINGRO_FILE_NAME" value="SDGROUP09" />
    <add key="BO_PENDINGRO_FILE_NAME" value="SDGROUP06" />
    <add key="BOM_MASTER_FILE_NAME" value="EQUBOM" />
    <add key="CESSIE_DATA" value="CESDAT" />
    <add key="CESSIE_DOCUMENT" value="CESSIE" />
    <add key="CESSIE_DOCUMENT2" value="CESSI2" />
    <add key="CHASSIS_MASTER_FILE_NAME" value="CHASSI" />
    <add key="CHECKLIST_FILE_NAME" value="RPT" />
    <add key="ConnectionString" value="" />
    <add key="CONTRACT_FILE_NAME" value="FU_CON" />
    <add key="CREDIT_CEILING_FILE_NAME" value="CCBALA" />
    <add key="CUSTOMER_DATA_FILE_NAME" value="CUSPRF" />
    <add key="CUSTOMER_DEALER_FILE_NAME" value="CSDLDT" />
    <add key="CUSTOMER_REQUEST_FILE_NAME" value="CUSDAT" />
    <add key="DEALER_BANKACCOUNT_FILE_NAME" value="BANKAC" />
    <add key="DEBIT_NOTE_FILE_NAME" value="DEBITN" />
    <add key="DEPOSIT_A_FILE_NAME" value="DEPOSA" />
    <add key="DEPOSIT_B_DEBITNOTE_FILE_NAME" value="DNDEPB" />
    <add key="DEPOSIT_B_FILE_NAME" value="DEPOSB" />
    <add key="DEPOSIT_B_INTEREST_FILE_NAME" value="INTDEP" />
    <add key="DEPOSIT_B_JV_FILE_NAME" value="JVBDEP" />
    <add key="DEPOSIT_B_JVCAIR_FILE_NAME" value="JVBCAI" />
    <add key="DEPOSIT_B_REPORT_FILE_NAME" value="DEPB01" />
    <add key="DEPOSIT_B_SO_FILE_NAME" value="KWJREG" />
    <add key="DEPOSIT_C_INTEREST_FILE_NAME" value="DEPOSINTC" />
    <add key="DEPOSIT_C2_FILE_NAME" value="DEPOSITC2" />
    <add key="DEPOSIT_FILE_NAME" value="SPDEPOSIT" />
    <add key="DEPOSITA_INTEREST_FILE_NAME" value="INTDEP" />
    <add key="DO_FILE_NAME" value="DOPRIN" />
    <add key="EMERGENCY_ESTIMATE_FILE_NAME" value="SDGROUP05" />
    <add key="EQUIPMENT_MASTER_FILE_NAME" value="EQMAST" />
    <add key="EQUIPMENT_PRICE_FILE_NAME" value="EQPRIC" />
    <add key="ErrorReceiver" value="" />
    <add key="ErrorSender" value="" />
    <add key="ErrorSubject" value="ErrorService" />
    <add key="FACTORING_FOLDER" value="DNET\SAP\FACTORINGFILE" />
    <add key="FilterVerificationCustomer" value="DR;PT;CV;H.;SE;IR;SH;H;DRS;SH;BA;ST;MM;PT.;,PT;Hj;Hj.;Hj,;Hj .;Hj ,; Hj;, Hj" />
    <add key="FL_LETTER_FILE_NAME" value="LFL001" />
    <add key="FREE_SERVICE_CAMPAIGN_LETTER_FILE_NAME" value="LFSC01" />
    <add key="FREE_SERVICE_LETTER_FILE_NAME" value="LFS001" />
    <add key="FREE_SERVICE_STATUS_FILE_NAME" value="FSSTAT" />
    <add key="FREE_SERVICE_STATUS_FILE_NAME_BB" value="FBSTAT" />
    <add key="GYRO_FACTORING_FILE_NAME" value="GYROZF" />
    <add key="HISTORY_FOLDER_DETAIL" value="2" />
    <add key="INDEPB_FILE_NAME" value="INDEPB" />
    <add key="INVOICE_FILE_NAME" value="FKRESU" />
    <add key="INVOICE_FOLDER" value="DNET\SAP\INVOICEFILE" />
    <add key="ISCLEANSING" value="1" />
    <add key="IsLogToSysLog" value="N" />
    <add key="IsSyslogUseUDP" value="false" />
    <add key="JV_CAIR_FILE_NAME" value="JVCAIR" />
    <add key="JV_CAMPAIGN_FILE_NAME" value="CAMPAI" />
    <add key="JV_CANCEL_FILE_NAME" value="JVCANC" />
    <add key="JV_FILE_NAME" value="JVNUMB" />
    <add key="KFL_LETTER_FILE_NAME" value="KFL001" />
    <add key="KODE_KERJA_FILE_NAME" value="CODEKE" />
    <add key="KODE_POSISI_FILE_NAME" value="CODEPO" />
    <add key="KODE_POSISI_WSC_FILE_NAME" value="POSCOD" />
    <add key="KUDEPB_FILE_NAME" value="KUDEPB" />
    <add key="KWITANSI_FREE_SERVICE_CAMPAIGN_FILE_NAME" value="KFSC01" />
    <add key="KWITANSI_WARANTY_FILE_NAME" value="KWSC01" />
    <add key="LABOR_FILE_NAME" value="MLABOR" />
    <add key="LIST_INVOICE_FILE_NAME" value="INVOIC" />
    <add key="MO_FILE_NAME" value="MOFILE" />
    <add key="NORMAL_PENDINGRO_FILE_NAME" value="SDGROUP03" />
    <add key="ORDERSTATUS_FILE_NAME" value="SP_STATUS" />
    <add key="PARKINGFEE_DEBITCHARGE_FILENAME" value="DEBITC" />
    <add key="PARKINGFEE_DEBITMEMO_FILENAME" value="DEBITM" />
    <add key="PARKINGFEE_FAKTURPAJAK_FILENAME" value="PPFAKT" />
    <add key="PARKINGFEE_FILENAME" value="PENALT" />
    <add key="PARKINGFEE_JVNUMBER_FILENAME" value="PPJVNU" />
    <add key="PARKINGFEE_JVRETURN_FILENAME" value="PPJVRE" />
    <add key="ParkingFeeDirectory" value="DNet\SAP\PARKINGFILE" />
    <add key="PARTMASTER_FILE_NAME" value="PART_MAST" />
    <add key="PAYMENT_FILE_NAME" value="PAYMEN" />
    <add key="PAYMENT_OBLIGATION_FILE_NAME" value="PAYOBG" />
    <add key="PAYMENT_OBLIGATION_STATUS_FILE_NAME" value="PAYSTS" />
    <add key="PDI_LETTER_FILE_NAME" value="LPDI01" />
    <add key="PDI_LETTER2_FILE_NAME" value="NPDI01" />
    <add key="PDI_STATUS_FILE_NAME" value="PDISTA" />
    <add key="PENDING_ORDER_FILE_NAME" value="SPPENDING" />
    <add key="PERIODICAL_MAINTENANCE_LETTER_FILE_NAME" value="LPM001" />
    <add key="PM_STATUS_FILE_NAME" value="STATUS" />
    <add key="PO_BLOCK_FILE_NAME" value="POBLOK" />
    <add key="PROPOSE_FILE_NAME" value="PROPOS" />
    <add key="PURCHASE_ORDER_FILE_NAME" value="FUSALE" />
    <add key="REGULER_ESTIMATE_FILE_NAME" value="SDGROUP04" />
    <add key="REJECTEDSPAREPARTPO" value="POREJECTS" />
    <add key="SAPDNETTESTING_FILE_NAME" value="sapdnettesting" />
    <add key="SERVICE_NAME" value="ListenerPhase4" />

    <add key="SO_FILE_NAME" value="SOFILE" />
    <add key="SPAF_FILE" value="" />
    <add key="SPAREPART_CEILING_FILENAME" value="SPCEILING" />
    <add key="SPAREPART_PO_BILLING_RECAP_FILE_NAME" value="SP_MRECAP" />
    <add key="WARANTY_LETTER_FILE_NAME" value="LWSC01" />
    <add key="WARANTY_STATUS_LIST_FILE_NAME" value="WSCSTA" />
    <add key="WEBMOFILE_FOLDER" value="DNET\SAP\MOFILE" />
    <add key="WEBMONTLYDOCUMENT_FOLDER" value="DNET\SAP\MONTLYDOCUMENT" />
    <add key="WEBSOFILE_FOLDER" value="DNET\SAP\SOFILE" />
    <add key="WEBSPFILE_FOLDER" value="DNet\SAP\SPAREPART" />
    <add key="WSC_STATUS_FILE_NAME" value="WSC_ST" />
    <add key="WSC_STATUS_FILE_NAME_BB" value="WSCSPC" />

    <add key="FREE_MAINTENANCE_LETTER_FILE_NAME" value="LFM001" />
    <add key="KWITANSI_FREE_MAINTENANCE_FILE_NAME" value="KFM001" />
    <add key="Kwitansi_Warranty_Spare_Part_Accessories_FILE_NAME" value="KWSC02" />
    <!--penambahan monthly doc ba dony dev ridwan-->
    <add key="Kwitansi_Free_Maintenance_and_Campaign_FILE_NAME" value="KFMC01" />
    <add key="Free_Maintenance_and_campaign_letter_FILE_NAME" value="LFMC01" />
    <!--end penambahan monthly doc ba dony dev ridwan-->
    <add key="DCSPPENALTY_FILENAME" value="DCSPPENAL" />
    <!-- End Of KeyName txt.wts-->


    <!-- START LOGISTIC COST-->
    <add key="LOGISTIC_DEBITCHARGE_FILE_NAME" value="FUDCLO" />
    <add key="LOGISTIC_DEBITMEMO_FILE_NAME" value="FUDMEM" />
    <!--<add key="LOGISTIC_DEBITCHARGE_FILE_NAME" value="DCFILE"/>-->
    <add key="LOGISTIC_FOLDER" value="DataFile\LogisticFile" />
    <add key="LOGISTIC_FAKTURPAJAK_FILE_NAME" value="LCFAKT" />
    <add key="LOGISTIC_JVRETURN_FILE_NAME" value="LCJVRE" />
    <!-- END LOGISTIC COST-->

<!-- Start MSP -->
    <add key="MSP_REGISTRATION_DC" value="FUDCSP" />
    <add key="MSP_REGISTRATION_DM" value="FUDNSP" />
    <add key="MSP_CLAIM_KUITANSI" value="SVCKUI" />
    <add key="MSP_CLAIM_LETTER" value="SVCLTR" />
    <add key="MSPDirectory" value="\\172.17.31.135\mdnet_repo\Repository\BSI-Net\DNet\SAP\MSP" />
    <!-- End MSP -->

    <!-- start MSP EXT -->
    <add key="MSP_EXT_REGISTRATION_PDF" value="DM" />
    <add key="MSPExtDirectory" value="\\172.17.31.135\MDNET_Repo\Repository\BSI-Net\MSPExt" />
    <!-- END MSP EXT-->

    <!-- SP EDocument -->
    <add key="SPEDocumentPath" value="\DataFile\Sparepart\Edoc" />
    <add key="EDOC_FAKTUR_PDF" value="EBILLING" />
    <add key="EDOC_CREDITMEMORETUR_PDF" value="ECRMEMO" />
    <add key="EDOC_TTTDEPOSITC2_PDF" value="EDEPC2" />
    <add key="EDOC_PENALTIPENGEMBALIANBARANG_PDF" value="EPENALTI" />
    <add key="EDOC_EOPACKLISTCASE_PDF" value="EEOPLCASE" />
    <add key="EDOC_ROPACKLISTCASE_PDF" value="EROPLCASE" />
    <add key="EDOC_CREDITMEMORETURMANUAL_PDF" value="ECRMEMOSAP" />

    <!-- END SP EDocument -->

    <!-- Service Sparepart Enhancement  -->
    <add key="DepositCDocumentPath" value="DataFile\Sparepart\DepositCPDF" />
    <add key="DEPOSIT_PDF" value="DEPOSIT" />
    <add key="KINTB_PDF" value="KINTB" />
    <add key="SpNotaReturPath" value="DataFile\Sparepart\NotaRetur" />
    <add key="NOTARETUR_PDF" value="NOTARETUR" />

    <!--<add key="SPNOTARETUR_FILE_NAME" value="NOTARETUR"/>-->
    <!-- END SSE -->

  </appSettings>
  <enterpriselibrary.configurationSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" applicationName="Application" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/configuration">
    <configurationSections>
      <configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="cachingConfiguration" encrypt="false">
        <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="cachingConfiguration.config" />
        <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
          <includeTypes />
        </dataTransformer>
      </configurationSection>
      <configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="dataConfiguration" encrypt="false">
        <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="dataConfiguration.config" />
        <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
          <includeTypes />
        </dataTransformer>
      </configurationSection>
      <configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="exceptionHandlingConfiguration" encrypt="false">
        <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="exceptionHandlingConfiguration.config" />
        <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
          <includeTypes>
            <includeType name="LoggingExceptionHandlerData" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.Configuration.LoggingExceptionHandlerData, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          </includeTypes>
        </dataTransformer>
      </configurationSection>
      <configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="loggingConfiguration" encrypt="false">
        <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="loggingConfiguration.config" />
        <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
          <includeTypes />
        </dataTransformer>
      </configurationSection>
      <configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="loggingDistributorConfiguration" encrypt="false">
        <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="loggingDistributorConfiguration.config" />
        <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
          <includeTypes>
            <includeType name="RollingFlatFileSinkData" type="Microsoft.Practices.EnterpriseLibrary.Logging.Sinks.RollingFlatFile.Configuration.RollingFlatFileSinkData, Microsoft.Practices.EnterpriseLibrary.Logging.RollingFlatFileSink, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          </includeTypes>
        </dataTransformer>
      </configurationSection>
      <configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="securityConfiguration" encrypt="false">
        <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="securityConfiguration.config" />
        <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
          <includeTypes>
            <includeType name="DbAuthenticationProviderData" type="Microsoft.Practices.EnterpriseLibrary.Security.Database.Authentication.Configuration.DbAuthenticationProviderData, Microsoft.Practices.EnterpriseLibrary.Security.Database.Authentication, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <includeType name="DbRolesProviderData" type="Microsoft.Practices.EnterpriseLibrary.Security.Database.Configuration.DbRolesProviderData, Microsoft.Practices.EnterpriseLibrary.Security.Database, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          </includeTypes>
        </dataTransformer>
      </configurationSection>
      <configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="securityCryptographyConfiguration" encrypt="false">
        <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="securityCryptographyConfiguration.config" />
        <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
          <includeTypes />
        </dataTransformer>
      </configurationSection>
    </configurationSections>
    <keyAlgorithmStorageProvider xsi:nil="true" />
    <includeTypes />
  </enterpriselibrary.configurationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
